.gameboard {
    max-width: 1200px;
    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.gamecard {
    border: 1px solid black;
    display: grid;
    flex-direction: row;
    grid-template-rows: 3fr 1fr;
    height: 14rem;
}